HELP.md
.gradle
/build/
/**/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.log*

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
/out/
/tmp/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


*.local
